/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

[class*="col-"] {
  clear: both;
}

/* Posititoning Classes */
.shadow {
  margin: 1% ;
}

.list.shadow {
  float: right;
  width: 32%;
}

.grass.shadow {
  float: left;
  width: 64%;
}

.col-1 {
float: right;
width: 32%;
}

.col-2 {
float: right;
width: 32%;
}

.col-3 {
float: left;
width: 32%;
}
